@font-face {
    font-family: 'Monument Extended';
    src: local('Monument Extended'),
        url(./assets/fonts/MonumentExtended/MonumentExtended-Regular.otf) format("truetype");
}

@font-face {
    font-family: 'Noto Sans CJK';
    font-weight: 400;
    src: local('Noto Sans CJK'),
        url(./assets/fonts/NotoSansCJK/NotoSansCJKtc-Regular.otf) format("truetype");
}