:root {
  box-sizing: border-box;
  font-family: 'Noto Sans CJK TC';
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #06102B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

a {
  color: #6E77E9;
  font-weight: 500;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 50px;
  width: 240px;
  padding: 20px 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  background: #FFE34E;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 0px 10px rgba(255, 243, 133, 0.6);
  background: #FFF385;
}

ul {
  list-style-type: none;
}

#app {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.section-wrapper {
  display: grid;
  justify-content: center;
  margin-bottom: 14px;
}

.section {
  max-width: 1440px;
  position: relative;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */